.garland {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 150px;

  //   position: fixed;
  //   top: -10px;
  //   left: 0;
  //   pointer-events: none;
  //   margin-top: -100px;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    margin: 20px 10px 0;

    background: url('/Garland/elemGarland/bender/pink/50.png');

    &:nth-child(2n + 1) {
      -webkit-animation-name: flash-2;
      animation-name: flash-2;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      transform: rotate(0.02turn);
      background: url('/Garland/elemGarland/bender/blue/50.png');
      &::after {
        transform: rotate(-0.02turn);
        top: -20px;
        left: 27px;
        width: 63px;
      }
    }
    &:nth-child(4n + 2) {
      -webkit-animation-name: flash-3;
      animation-name: flash-3;
      transform: rotate(-0.02turn);

      -webkit-animation-duration: 1.7s;
      animation-duration: 1.7s;
      background: url('/Garland/elemGarland/bender/violet/50.png');

      &::after {
        transform: rotate(0.02turn);
        top: -10px;
        left: 27px;
      }
    }
    &:nth-child(odd) {
      -webkit-animation-duration: 1.8s;
      animation-duration: 1.8s;
    }
    &:nth-child(3n + 1) {
      -webkit-animation-duration: 1.4s;
      animation-duration: 1.4s;
    }
    &::before {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 10px;
      background-color: rgb(135 77 149);
      position: absolute;
      top: -10px;
      left: 19px;
    }
    &::after {
      content: '';
      width: 71px;
      height: 15px;
      border-bottom: 2px solid rgb(135 77 149);
      position: absolute;
      top: -15px;
      left: 24px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -50px;
    }
    @-webkit-keyframes flash-1 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
    @keyframes flash-1 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
    @-webkit-keyframes flash-2 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
    @keyframes flash-2 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
    @-webkit-keyframes flash-3 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
    @keyframes flash-3 {
      0%,
      100% {
        filter: brightness(150%);
      }
      50% {
        filter: brightness(125%);
      }
    }
  }

  //
}
