.container {
  width: 100vw;
  height: 200vh;

  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  // background-color: #000;
  // background-image: url('Garland/elemGarland/01/64.png'),
  //   url('Garland/elemGarland/02/50.png'), url('Garland/elemGarland/03/64.png');
  // animation: snow 15s linear infinite;
}

// @keyframes snow {
//   0% {
//     background-position: 0px 0px, 0px 0px, 0px 0px;
//   }
//   100% {
//     background-position: 500px 1000px, 400px 400px, 200px 200px;
//   }
// }
